{% extends 'master.html' %}
{% block title %}{{ recipe.name }}{% endblock title %}
{% block content %}

{% if user.is_authenticated %}
    <script>
      function grain_recipe_edit(pk) {
         document.getElementById("grain_edit_"+pk).removeAttribute("hidden");
         document.getElementById("grain_recipe_"+pk).setAttribute("hidden", "hidden");
      }
      function hop_recipe_edit(pk) {
         document.getElementById("hop_edit_"+pk).removeAttribute("hidden");
         document.getElementById("hop_recipe_"+pk).setAttribute("hidden", "hidden");
      }
    </script>


    <h3>
        {% with stats=recipe.stats %}
        {% include 'beer_stats.html' %}
        {% endwith %}
    </h3>
    <br>

    <form method="post" action="/recipe/{{recipe.pk}}">
        {% csrf_token %}
        <div class="form-floating mb-3">
            <input type="text" class="form-control" name="name" id="name" placeholder="Recipe name" value="{{ recipe.name }}" {{disabled_state}}>
            <label for="name">Recipe name</label>
        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" name="batch_size_l" id="batch_size_l" placeholder="Batch size (L)" value="{{ recipe.batch_size_l }}" {{disabled_state}}>
            <label for="batch_size_l">Batch size (L)</label>
        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" name="mash_temperature_c" id="mash_temperature_c" placeholder="Mash temperature (°C)" value="{{ recipe.mash_temperature_c }}" {{disabled_state}}>
            <label for="mash_temperature_c">Mash temperature (°C)</label>
        </div>

        <div class="form-floating mb-3">
            <select id="yeast" name="yeast" class="form-select" {{disabled_state}}>
              {% for yeast in all_yeast %}
                <option value="{{ yeast.pk }}"
                        {% if yeast == recipe.yeast %} selected {% endif %}
                >{{ yeast }}</option>
              {% endfor %}
            </select>
            <label for="yeast">Yeast</label>
        </div>

        <div class="form-floating mb-3">
            <textarea class="form-control" placeholder="Comments" id="comments" name="comments" style="height: 100px" {{disabled_state}}>{{ recipe.comments }}</textarea>
            <label for="comments">Comments</label>
        </div>

        {% if disabled_state != "disabled" %}
            <button type="submit" class="btn btn-primary">Save</button>
        {% endif %}
    </form>

    {% include 'grain_bill.html' %}
    {% include 'hop_bill.html' %}
{% else %}
    <div class="alert alert-danger" role="alert">You need to be logged in</div>
{% endif %}
{% endblock content %}