{% extends 'master.html' %}
{% block title %}Recipe{% endblock title %}
{% block content %}

<h1>Recipe</h1>
{% if user.is_authenticated %}
    <table class="table">
        <thead><tr><th scope="col">Recipe</th><th scope="col">Owner</th><th scope="col"></th></tr></thead>
        <tbody>
            {% for recipe in recipes %}
                <tr>
                    <td>{{ recipe.name }}</td>
                    <td>{{ recipe.owner }}</td>
                    <td><a class="btn btn-primary" href="/recipe/{{recipe.pk}}/edit" role="button">Edit</a></td>
                </tr>
            {% endfor %}
            <tr><form method="post" action="/recipe/add">
                {% csrf_token %}
                <td><input type="text" class="form-control" name="name"></td>
                <td>{{ user.username }}</td>
                <td><button type="submit" class="btn btn-primary">Add</button></td>
            </form></tr>
        </tbody>
    </table>
{% else %}
    <div class="alert alert-danger" role="alert">You need to be logged in</div>
{% endif %}
{% endblock content %}