{% extends 'master.html' %}
{% block title %}Recipe{% endblock title %}
{% block content %}

<h1>Recipe</h1>
    <table class="table">
        <thead><tr><th scope="col">Recipe</th><th scope="col">Owner</th></tr></thead>
        <tbody>
            {% for recipe in recipes %}
                <tr>
                    <td style="padding-top: 14px;"><a href="/recipe/{{recipe.pk}}">{{ recipe.name }}</a>
                        {% with stats=recipe.stats %}
                        {% include 'beer_stats.html' %}
                        {% endwith %}
                    </td>
                    <td style="padding-top: 14px;">{{ recipe.owner }}</td>
                    <td>
                        {% if user.is_authenticated %}
                            <a class="btn btn-primary" href="/recipe/{{recipe.pk}}/new_brew">Brew</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            {% if user.is_authenticated %}
            <tr><form method="post" action="/recipe/add">
                {% csrf_token %}
                <td><button type="submit" class="btn btn-primary">Create new recipe</button></td>
                <td></td>
                <td></td>
            </form></tr>
            {% endif %}
        </tbody>
    </table>
<br>
{% endblock content %}